.host {
  height: 100vh;
  display: block;
}

.sidebar-section {
  background-color: #f9f9f9;
  border-right: 1px bold #ccc;
  height: 100vh;
  width: 250px;
  z-index: 1;
  padding: 1.5rem;
  overflow: visible;
  position: fixed;
  top: 3rem;
  left: 0;
  .search-box {
    position: relative;
    margin-top: 1.5rem;
    .clear-btn {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 20px;
      color: black;
    }
  }
  .sidebar .p-accordion .p-accordion-tab {
    margin-bottom: 12px;
  }

  .p-dropdown-panel {
    z-index: 9999 !important;
  }
  .sidebar-header {
    .sidebar-title {
      font-size: 20px;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  }

  .sidebar-menu {
    list-style: none;

    .sidebar-items {
      margin-bottom: 3rem;
    }
  }
}
