<div class="sidebar-section">
  <div class="search-box">
    <input
      type="text"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearch()"
      class="form-control"
      placeholder="Search..."
    />
    @if( searchText){
    <span class="clear-btn" (click)="clearSearchText()">×</span>
    }
  </div>

  <div class="sidebar-header">
    <h3 class="sidebar-title">Filter</h3>
  </div>
  <p-accordion>
    <p-accordionTab header="Sort">
      <ul class="menu-list">
        <li>Active</li>
        <li>Inactive</li>
        <li>Pending</li>
      </ul>
    </p-accordionTab>

    <p-accordionTab header="Types">
      <ul class="menu-list">
        <li>Category A</li>
        <li>Category B</li>
      </ul>
    </p-accordionTab>

    <p-accordionTab header="Brands" (click)="onBrandSelected()">
      @for(brand of brand; track $index){
      <ul class="menu-list">
        <li (click)="onSelectBrand(brand.id)" [value]="brand.id">
          {{ brand.name }}
        </li>
      </ul>

      }
    </p-accordionTab>
  </p-accordion>

  <!-- <ul class="sidebar-menu">
    <li class="sidebar-items">
      <div class="card flex justify-content-center">
        <p-dropdown
          [options]="cities"
          [(ngModel)]="selectedCity"
          placeholder="Sort"
          [editable]="true"
          optionLabel="name"
        />
      </div>
    </li>
    <li class="sidebar-items">
      <div class="card flex justify-content-center">
        <p-dropdown
          [options]="cities"
          [(ngModel)]="selectedCity"
          placeholder="Types"
          [editable]="true"
          optionLabel="name"
        />
      </div>
    </li>

    <li class="sidebar-items">
      <div class="card flex justify-content-center">
        <p-dropdown
          [options]="cities"
          [(ngModel)]="selectedCity"
          placeholder="Brands"
          [editable]="true"
          optionLabel="name"
        />
      </div>
    </li>
  </ul> -->
  <!-- </div> -->
</div>
