.main-layout {
  position: relative;

  font-family: Arial, Helvetica, sans-serif;

  .product-wrapper {
    overflow-y: auto;
    margin-left: 250px;

    .products-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 20px;
    }

    .product-item {
      background-color: #fff;
      padding: 10px;
      border-radius: 6px;
    }
  }
}
