/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Importing Datepicker SCSS file. */
@import "@fortawesome/fontawesome-free/css/all.min.css";

// @import 'primeflex/primeflex.css';
// @import 'primeicons/primeicons.css';

:root body {
  background-color: #f1f3f4 !important; /* Last resort */
  height: 100%;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
}
p {
  margin-bottom: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:host .p-accordion-header-link {
  background: transparent !important;
  color: #e5e7eb !important;
  padding: 12px 10px !important;
  border-radius: 8px;
  font-weight: 500;
  transition: background 0.2s ease;
}
.p-accordion .p-accordion-tab {
  margin-bottom: 2rem;
}
.p-accordion .p-accordion-header {
  border-bottom: none !important;
}

:host .p-accordion-header-link:hover {
  background: #1e293b !important;
}

:host .p-accordion-tab-active .p-accordion-header-link {
  background: #1e40af !important;
  color: #ffffff !important;
}

:host .p-accordion-content {
  background: transparent !important;
  padding: 8px 0 12px 14px;
  border: none;
}
.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-list li {
  padding: 8px 10px;
  margin-bottom: 4px;
  font-size: 14px;
  // color: #cbd5f5;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.menu-list li:hover {
  background: #334155;
  color: #ffffff;
}
